<h1>New User Data</h1>
<ul>
  <li>First Name: <%= @user.first_name %></li>
  <li>Last Name: <%= @user.last_name %></li>
  <li>Password: <%= @user.password %></li> 
  <li>Username: <%= @user.username %></li>
  <li>Email: <%= @user.email %></li>
</ul>